
<link rel="stylesheet" href="/css/user.css">
<body>
      <h1>Codeial, <%=title%> </h1>   
</body>


<section>
      <h3>Posts</h3>
      <% if(locals.user){ %>
            <form action="/post/create" id="post-form" method="POST">
                  <textarea cols="30" rows="4" placeholder="Type here...." name="post_data"></textarea>
                  <input type="submit" value="post">
            </form>
      <%}  %>

 

</section>



<div id="post-container">
      <ul>
      <% for(post of posts){ %>
            <%- include('_post') %>
     <% } %>
  
      </ul>
</div>

<section id="users-container">
      <h4>Friends</h4>
<%for(u of all_users){%>
<p>
      <a href="/user/profile/<%=u.id%>"> <%= u.name %> </a>
</p>

<%}%>
</section>