<html>
<head>
    <title>sign in page</title>

</head>

<body>

    <form action="users/create-session" method="POST">
          <input type="text" placeholder="Username" required>
          <input type="password" placeholder="Enter password" required>

          <button type="submit">Signn-in</button>


    </form>
</body>



</html>